<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/"><%= title %></a>
            <div class="nav-collapse collapse">

                <ul class="nav">


                    <% for(var i=0; i<navBarItems.length; i++) { %>


                    <li <% if(navBarItems[i].path == "servers"){ %> class="active"<%}%> >
                    <a href=<%= navBarItems[i].path %>><%= navBarItems[i].title %></a>
                    </li>

                    <% } %>


                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span3 bs-docs-sidebar">


            <ul class="nav nav-list bs-docs-sidenav">

                <% for(var i=0; i<servers.length; i++) { %>

                <li<% if(servers[i].key == server.key){ %> class="active"<%}%> >
                    <a href="/servers/<%= servers[i].key %>">
                        <%= servers[i].name %>
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>

                <% } %>


                <li class>
                    <a href="/addServer"><i class="icon-plus-sign"></i>  Add New Server</a>
                </li>

            </ul>

        </div>

        <div class="span9">
            <!--Body content-->

            <form class="form-horizontal" action="/addEndpoint/<%=server.key%><%=(locals.key)?'?update='+key:''%>" method="POST">
                <fieldset>

                    <!-- Form Name -->
                    <legend><%if(locals.path==null){%>
                        Add Endpoint to <%=server.name%>
                    <%}else{%>
                        Edit Endpoint of <%=server.name%>
                    <%}%></legend>

                    <!-- Prepended text-->
                    <div class="control-group">
                        <label class="control-label" for="path">Path</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">/</span>
                                <input id="path" name="path" class="input-xlarge" placeholder="my/endpoint/path.php" type="text" value="<%=(locals.path)?path:''%>" required="true" >
                            </div>

                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                        <label class="control-label" for="defaultResponse">Default Response</label>
                        <div class="controls">
                            <textarea required="true" id="defaultResponse" name="defaultResponse" placeholder="{'success': true,data: [{'name': 'a','value': 1},{'name': 'b','value': 2}]}" ><%if(locals.defaultResponse){%><%=defaultResponse%><%}%></textarea>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="httpStatusCode">HTTP Status Code</label>
                        <div class="controls">
                                <input id="path" name="httpStatusCode" class="input-xlarge" placeholder="200" type="text" value="<%=(locals.httpStatusCode)?httpStatusCode:''%>" required="true" >
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="contentType">Content Type</label>
                        <div class="controls">
                            <input id="contentType" name="contentType" class="input-xlarge" placeholder="text/json" type="text" value="<%=(locals.contentType)?contentType:''%>" required="true" >
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="delay">Delay (Seconds)</label>
                        <div class="controls">
                            <input id="delay" name="delay" class="input-xlarge" placeholder="1" type="text" value="<%=(locals.delay)?delay:''%>" required="true" >
                        </div>
                    </div>


                    <!-- Multiple Radios -->
                    <div class="control-group">
                        <label class="control-label" for="enabled">Status</label>
                        <div class="controls">
                            <label class="radio" for="enabled-0">
                                <input type="radio" name="enabled" id="enabled-0" value="Enabled" <%if(locals.enabled!=null){%>

                                    <%if(enabled==true){%>

                                        checked="checked"

                                    <%}%>

                                <%}else{%>

                                checked="checked"

                                <%}%>>Enabled</label>
                            <label class="radio" for="enabled-1">
                                <input type="radio" name="enabled" id="enabled-1" value="Disabled" <%if(locals.enabled!=null){ if(enabled==false){%>
                                    checked="checked"
                                <%}}%>>
                                Disabled
                            </label>
                        </div>
                    </div>

                    <!-- Save -->
                    <div class="control-group">
                        <label class="control-label" for="addEndpoint"></label>
                        <div class="controls">
                            <button id="addEndpoint" name="addEndpoint" class="btn btn-success">
                                <%if(locals.path==null){%>
                                    Add Endpoint
                                <%}else{%>
                                    Save Endpoint
                                <%}%>
                            </button>
                        </div>
                    </div>


                </fieldset>
            </form>

            <%if(locals.path!=null){%>

                <form class="form-horizontal" action="/addEndpoint/<%=server.key%><%=(locals.key)?'?delete='+key:''%>" method="POST">
                    <fieldset>

                        <!-- Delete -->
                        <div class="control-group">
                            <label class="control-label" for="deleteEndpoint"></label>
                            <div class="controls">
                                <button id="deleteEndpoint" name="deleteEndpoint" class="btn btn-danger">Delete</button>
                            </div>
                        </div>


                    </fieldset>
                </form>

            <%}%>

        </div>

    </div>
</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>








