<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/"><%= title %></a>
            <div class="nav-collapse collapse">

                <ul class="nav">


                    <% for(var i=0; i<navBarItems.length; i++) { %>


                    <li <% if(navBarItems[i].path == "servers"){ %> class="active"<%}%> >
                    <a href=<%= navBarItems[i].path %>><%= navBarItems[i].title %></a>
                    </li>

                    <% } %>


                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span3 bs-docs-sidebar">


            <ul class="nav nav-list bs-docs-sidenav">

                <% for(var i=0; i<servers.length; i++) { %>

                <li<% if(servers[i].key == server.key){ %> class="active"<%}%> >
                    <a href="/servers/<%= servers[i].key %>">
                        <%= servers[i].name %>
                        <i class="icon-chevron-right"></i>
                    </a>
                </li>

                <% } %>


                <li class>
                    <a href="/addServer"><i class="icon-plus-sign"></i>  Add New Server</a>
                </li>

            </ul>

        </div>

        <div class="span9">
            <!--Body content-->


            <div class="page-header">
                <h4>Add Endpoint To <%=server.name%></h4>
            </div>

            <form class="form-horizontal" action="/addServer" method="POST">
                <fieldset>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="serverName">Server Name</label>
                        <div class="controls">
                            <input id="serverName" name="serverName" type="text" placeholder="myReplicatedServer" class="input-xlarge" required="">

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="control-group">
                        <label class="control-label" for="addServerButton"></label>
                        <div class="controls">
                            <button id="addServerButton" name="addServerButton" class="btn btn-default">Add</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>

    </div>
</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>








